.u-section-1 .u-sheet-1 {
  min-height: 315px;
}

.u-section-1 .u-image-1 {
  height: 275px;
  margin-top: 25px;
  margin-bottom: 15px;
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1207px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 0;
  height: auto;
  min-height: 1207px;
  margin-top: 0;
}