.headborder{
    background-color: #1d5d9b;
    color:#ffffff;
  }
  .highlight{
    color:#1d5d9b;
    font-weight: 700;
  }

/*  @media (max-width: 768px) {
    .headborder {
      font-size: 1em; 
      padding: 0.5em; 
      top: -30px; 
    }
  }
  @media (max-width: 768px) {
    .headborder {
      font-size: 4vw; 
    }
  }
  @media (max-width: 500px) {
    .headborder {
      font-size: 0.8em; 
      padding: 0.4em 0.8em; 
      top: -20px; 
     
    }
  }
  

  @media (max-width: 500px) {
    .headborder {
      font-size: 5vw; 
      
    }
  }
  */