 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 437px;
}

.u-section-1 .u-image-1 {
  object-position: 50% 7.05%;
  height: 275px;
  margin-top: 25px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-1 .u-text-1 {
  margin: 41px 0 24px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1034px;
}

.u-section-2 .u-text-1 {
  margin: 40px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 40px 55px 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-decoration: underline !important;
  margin: 40px auto 0;
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 41px 0 0;
}

.u-section-2 .u-list-1 {
  margin: 39px 0 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 272px;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-text-5 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-text-6 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-text-8 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  text-decoration: underline !important;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-weight: normal;
  margin: 40px 0 0;
}

.u-section-2 .u-text-10 {
  margin: 40px 55px 0;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  text-decoration: underline !important;
  margin: 40px auto;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 318px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1158px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 356px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-right: 13px;
    margin-left: -13px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1829px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 909px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 66px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 1534px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 318px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1937px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.headborder {
background-color:#1d5d9b;
color:#ffffff !important;
}