 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1657px;
}

.u-section-1 .u-image-1 {
  height: 138px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 80px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1084px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 0 -2px;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: 7px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  width: 263px;
  margin: 5px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 25px 60px 0;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  width: 263px;
  margin: 7px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 6px 60px 0;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  width: 263px;
  margin: 8px auto 0;
}

.u-section-1 .u-text-8 {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 9px 60px 0;
}

.u-section-1 .u-text-9 {
  font-size: 0.875rem;
  width: 263px;
  margin: 7px auto 0;
}

.u-section-1 .u-text-10 {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 7px 60px 0;
}

.u-section-1 .u-text-11 {
  font-size: 0.875rem;
  width: 263px;
  margin: 7px auto 0;
}

.u-section-1 .u-text-12 {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 9px 60px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 469px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-13 {
  font-size: 1.5rem;
  margin: 0 -1px;
}

.u-section-1 .u-text-14 {
  font-size: 0.875rem;
  margin: 6px auto 0;
}

.u-section-1 .u-text-15 {
  font-size: 0.875rem;
  margin: 15px 49px 0 35px;
}

.u-section-1 .u-text-16 {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 9px 37px 0;
}

.u-section-1 .u-text-17 {
  font-size: 0.875rem;
  margin: 7px 42px 0;
}

.u-section-1 .u-text-18 {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 6px 37px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 615px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-19 {
  font-size: 1.5rem;
  margin: 0 -2px;
}

.u-section-1 .u-text-20 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 203px 39px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1447px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 1077px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 677px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 300px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 982px;
  }

  .u-section-1 .u-text-1 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 398px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 378px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: 103px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 297px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-3 {
    min-height: 316px;
  }
}